body {
    background-image: url("../img/background3.jpeg");
    background-size: 100% auto;
    /* background-repeat: no-repeat; */
    /* background-position: right top; */
    background-attachment: fixed;
}

h1 {
    color: rgb(129, 129, 129);
}

div.row {
    text-align: center;
}