.main {
    background-image: url("../img/background3.jpeg");
    background-size: 100% auto;
    background-attachment: fixed;
}

.fa-icons {
    color: #ffffff;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    transition: 0.5s;
    margin: 0 15px;
    
   
    
  
}